/*Google Fonts CDN added and style added here to change the Font inside the Jumbotron*/
em {
	font-family: 'Pacifico', cursive;
}

.button-home {
	float: left;
}

#background {
	background-image: url("../images/stones.png");
	background-size: cover;
	/*background: transparent;*/
	z-index: 1000;
}


#logoname {
	font-family: 'Pacifico', cursive;
}